PokemonRed.gb
LaTeX Work/Synopsis/overview.pdf 
LaTex Worl/Report/report.pdf
LateX Work/Report Example
PokemonRedExperiments-master.zip
*session*
.venv
**/env/
*.aux
*.bcf
*.log
*.toc
*.blg
*.dvi
*.ps
*.bbl
*.pdf
*.state
__pycache__
*.out
*.xml