Sessions*
.venv
**/env/
*.aux
*.bcf
*.log
*.toc
*.blg
*.dvi
*.ps
*.bbl
*.pdf
*.state
__pycache__
*.outX
*.xml
v2-env
*wandb*
tempCodeRunner*
P_Whidden_Red_Env
*.gz
*.gb
report.bbl-SAVE-ERROR
*.fdb_latexmkW
*.fdb_latexmk
*.fls
