PokemonRedExperiments
LaTeX Work/Synopsis/overview.pdf 
LaTeX Work/Synopsis/overview.aux
LaTeX Work/Synopsis/overview.log
LaTeX Work/Synopsis/overview.out
LaTeX Work/Synopsis/overview.synctex.gz
LaTeX Work/Synopsis/overview-blx.bib
LaTeX Work/Synopsis/overview.bbl
LaTeX Work/Synopsis/overview.pdf
LaTeX Work/Synopsis/overview.bcf
LaTeX Work/Synopsis/overview.run.xml
